

	<div class="well">

<button class="btn" ng-click="registerRandom(5)">Register 5 patients randomly</button>
<button class="btn" ng-click="registerRandom(10)">Register 10 patients randomly</button>
</div>

<div class="page-header">
  <h3>Register Patient <small>Retrieve patient information from MRS</small></h3>
</div>

		<form class="form-inline" ng-submit="registerPatient()">
			<fieldset>
    			<div class="input-append">
		    		<input type="text" placeholder="Patient Number" ng-model="patientNumber">
		    		<button class="btn btn-success" type="submit">Fetch</button>
		    	</div>
		    <!--
		    <input type="text" placeholder="Patient Name" ng-model="patientName">
		    <select class="input-medium" ng-model="treatmentType">
				<option value="A">A (1 hr)</option>
				<option value="B">B (2 hr)</option>
				<option value="C">C (3 hr)</option>
			</select>
			-->
			
			</fieldset>
		</form>
	<div class="page-header">
  <h3>Bed Allocation <small><span>{{patientStore.waiting()}} of {{patientStore.getPatients().length}} patients remaining</span></small></h3>
</div>
	<p>
	    <div>
	      
	      <table class="table table-bordered table-hover">
			<thead>
				<tr class="muted">
					<th>Number</th>
					<th>Name</th>
					<th>Invoice</th>
					<th>Treatment Type</th>
					<th>Registered At</th>
					<th>Readiness</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="patient in patientStore.getPatients()" ng-show="patient.startedTreatmentAt==null">
					<td class="{{patient.alertStatus}}">{{patient.patientNumber}}</td>
					<td>{{patient.patientName}}</td>
					<td>
						<input type="text" class="input-small" placeholder="Invoice #" data-ng-model="patient.invoiceNumber">
					</td>
					<td>{{patient.treatmentType}}</td>
					<td>{{patient.registrationTime | date:'hh:mm'}}</td>
					<td>
						<label class="checkbox">
							<input type="checkbox" data-ng-model="patient.checkMedicine"> Medicines
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-model="patient.mixMedicine"> Mixing
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-model="patient.fetchRecord"> Records
						</label>
					</td>
					<td>
						<button class="btn btn-success" ng-show="bedManager.freeBeds()!=0" ng-click="assignBed(patient.patientNumber,patient.treatmentType)">Assign Bed</button>
						<button class="btn disabled" ng-hide="bedManager.freeBeds()!=0">No beds free</button>

						<button class="btn btn-danger" ng-show="(patient.beacon!=true)" ng-click="callToReception(patient.patientNumber)"><i class="icon-bell icon-white"></i></button>
						<button class="btn disabled" ng-show="(patient.beacon==true)" ng-click="callToReception(patient.patientNumber)"><i class="icon-bell icon-white"></i></button>
					</td>
				</tr>
			</tbody>
	      </table>

	<div class="page-header">
  <h3>Treated Patients <small><span>{{patientStore.treated()}} of {{patientStore.getPatients().length}} patients treated</span></small></h3>
</div>
	      <table class="table table-bordered table-hover">
			<thead>
				<tr class="muted">
					<th>Number</th>
					<th>Name</th>
					<th>Treatment Type</th>
					<th>Treated At</th>
					<th>Total time</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="patient in patientStore.getPatients()" ng-show="patient.endedTreatmentAt!=null">
					<td class="{{patient.alertStatus}}">{{patient.patientNumber}}</td>
					<td>{{patient.patientName}}</td>
					<td>{{patient.treatmentType}}</td>
					<td>{{patient.endedTreatmentAt | date:'hh:mm'}}</td>
					<td>{{convert_to_minutes(patient.endedTreatmentAt-patient.registrationTime) }} mins</td>
				</tr>
			</tbody>
	      </table>

	      <!--
	      <ul class="unstyled">
	        <li ng-repeat="patient in patients">
	          {{patient.patientNumber}} - {{patient.patientName}} - {{patient.treatmentType}} - {{patient.registrationTime}}
	      	  <button class="btn" ng-show="(freeBeds()!=0)&&(patient.startedTreatmentAt==null)" ng-click="assignBed(patient.patientNumber,patient.treatmentType)">Assign Bed</button>
	        </li>
	      </ul>
	  -->
	    </div>
	</p>