<table class="table">
	<thead>
		<tr>
			<th>Aprox. waiting times</th>
			<th>Patients waiting</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="bucket in estimator.getBuckets()">
			<td>{{bucket.msg}}</td>
			<td>
				<ul class="unstyled">
					<li ng-repeat="patient in bucket.getPatients()">
						{{patient.patientName}} <span ng-show="patient.beacon" class="label label-important">Come to Reception</span>
					</li>
				</ul>
			</td>
		</tr> 
		<!--
		<tr ng-repeat="patient in patientStore.getPatients()" ng-show="patient.startedTreatmentAt==null">
			<td class="{{patient.alertStatus}}">{{patient.waitingMsg}}</td>
			<td>{{patient.patientNumber}}</td>
			<td>{{patient.patientName}}</td>
		</tr>
		-->
	</tbody>
</table>